{% extends 'base.html' %}



{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">{% block title %}Iniciar Sesion usuario{% endblock %}</h1>
                    </div>
                    <div class="card-body">
                        <form action="{{url_for('auth.login')}}" method="POST">
                            <div class="from-group">
                               <label for="username">Nombre de Usuario</label>
                               <input type="text" class="form-control" id="username" name="username" required> 
                                
                            </div>
                            <div class="from-group">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" required> 
                                 
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary mt-3" value="Iniciar Sesion"> 
                                 
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}