{% extends 'base.html' %}

{% block content %}

    <section class="container-fluid ">
        <nav class="nav-bar">
            <h1 class="text-center mt-3 mb-3">{% block title %}List of Taks{% endblock %}</h1>
            <a href="{{url_for('todo.create')}}" class="btn btn-success mb-3 btn-lg fs-4">New Taks</a>
        </nav>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th class="col">Taks</th>
                <th class="col">Status</th>
                <th class="col" colspan="2">Options</th>
            </tr>
        </thead>
        
        <tbody>
            {% for todo in todos | reverse %}
            {% if g.user.id == todo.create_by %}
            <tr>
                <td>
                    <h5>{{todo.title}}</h5>
                    <p>{{todo.desc}}</p>
                </td>
                <td>
                    {% if todo.status == false %}
                    <span class="badge bg-danger">Incomplete</span>
                    {% else %}
                    <span class="badge bg-success">Complete</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{url_for('todo.update', id = todo.id)}}" class="btn btn-info btn-sm">Edit</a>
                </td>
                <td>
                    <a href="{{url_for('todo.delete', id = todo.id)}}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        </tbody>
            {% endif %}
            {% endfor %}         
    </table>
    
{% endblock %}